@media screen and (min-width:992px) and (max-width:1440px) {
    body {
        max-width: 1060px;
        margin: 0 auto;
      }
    .nav-bar {
       gap: 400px;
       margin-left: 20px;
       margin-right: 20px;
      }
      .nav-links{
        margin-left: 460px;
      }
      .banner-img{
        margin-left: 88px;
      }
    
}