
/* responsive style for small device (576px) */

@media screen and (max-width:576px) {

    .nav-bar{
      margin-left: 20px;
      margin-right: 20px;
    }

    .nav-links{
      display: none;
    }

    .ham-burg{
      display:block;
      color: white;
    }

     .banner{
      flex-direction: column;
      margin-left: 20px;
     }

     .banner-title{
      width: 285px;
      font-size: 36px;
      line-height: 120%;
     }

     .miama-font{
        font-size: 66px;
     }

     .banner-description{
      width:276px;
      height: 96px;
     }

     .banner-btn{
      display: flex;
     }

     #club{
      display: none;
     }

     .banner-img{
      margin-top: 47px;
      margin-left: 20px;
    }

    .card-500{
      width:146px;
      height: 75px;
      margin-top: -530px;
      margin-left: 210px;
    }

    .card-500-title{
      font-size: 2rem;
    }

    .card-500-description{
      font-size: 0.625rem;
      margin-top: px;
    }

    .card-350{
      width: 156px;
      height: 73px;
      margin-left: 28px;
      margin-top: 140px;
    }

    .ellipse{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-left: 17px;
      margin-top: 20px;
    }

    .card-350-title{
      font-size: 1.133rem;
    }

    .card-350-description{
      font-size: 0.75rem;
      
    }

    .change-your-habits{
        margin-top: -25px;
    }

    
    .your-habits-title{
        width: 318px;
        font-size: 2rem;
    }

    .your-habits-description{
        width: 312px;
        margin-top: -25px;
    }

    .habits-images{
        flex-direction: column;
        margin-left: 20px;
    }

    .section-one, .section-two, .section-three, .section-four{
        justify-items: center;
        align-items: center;
        margin-left: 100px;
    }

    .movement, .time, .practice, .weight{
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: -30px;
    }

    .run-extra{
        width: 353px;
        
        flex-direction: column;
        margin-left: 30px;
        margin-top: 66px;
    }

    .extra-mile{
        width: 287px;
        padding: 31px 33px;
        margin-top: -25px;
    }

    .extra-mile-title{
        font-size: 2rem;
    }

    .extra-mile-description{
        width: 287px;
    }

    .btn-primary{
        width: 170px;
    }

    .btn-secondery{
        width: 210px;
    }

    #btn-two{
        width: 287px;
    }

    .extra-mile-img{
        padding: 35px 33px;
    }

    .run-extra img{
        width: 287px;
        height: 170px;
    }

    .fitness{
      margin-left: 0px;
    }

    .fitness-title{
      font-size: 2rem;
    }

    .fitness-description{
      width: 316px;
      margin-top:-24px ;
    }

    .fitness-container{
      flex-direction: column;
      gap: 24px;
    }

    .bmi-calculator-container{
      height: 810px;
    }

    .bmi-calculator{
      width: auto;
      justify-content: flex-start;
      margin-left: 30px;
    }

    .bmi-title{
      width: 353px;
      font-size: 2rem;
     
    }

    .bmi-description{
      width: 350px;
      font-size: 0.875rem;
      margin-top: -14px;
    }

    .bmi-calculator-info{
      flex-direction: column;
      margin-left: 20px;
    }

    .chart-title{
      font-size: 1rem;
    }
    .your-bmi{
      width:auto;
    }
    .your-bmi-title{
      width: 354px;
      font-size: 1rem;
    }

    .you-bmi-description{
      width: 354px;
    }

    .bmi-form{
      width: 353px; 
    }

    input, select{
      width: 145px;
    }

    .sex{
      width: 165px;
    }

    .factor{
      width: 340px;
    }
    .our-team{
      margin-top: 40px;
    }
    .team-title{
      font-size: 2rem;
      font-weight: 900;
    }
    .team-description{
      width: 309px;
      font-size: 0.875rem;
      margin-top: -15px;
    }
    .team-img-container{
      grid-template-columns: repeat(1, 1fr);
      margin-top: 30px;
    }
    .fitness-footer-container{
      height: 990px;
    }
    .footer-title{
      margin-top: 44px;
    }
    .footer-description{
      width: 317px;
      margin-top: -50px;
    }
    .footer-container{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left:20px;
    }
    .footer-container-two{
      flex-direction: column;
      gap: 0px;
      margin-top: -10px;
    }
  }