@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

@import url('https://fonts.cdnfonts.com/css/miama');

.miami-font{
  font-family: 'Miama', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;                                            
               
}

  body{
    margin: 0 auto;
    background-color: black;
  }

  /* shared style */

.ham-burg{
    display: none;
  }

.display-flex{
    display: flex;
}

#home{
    font-weight: 600;
    border-radius: 46px;
    color: white;
    background-color: #E6533C;
    padding: 10px 20px;

}


.btn-primary{
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: white;
    border: none;
}

.primary-text-color{
    color: rgba(255, 255, 255, 0.5);
}

  /* nav related styles */

  .nav-bar{
    justify-content: space-between;
    align-items: center;
  }

  .brand{
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
    color: #E6533C;
  }

.nav-links{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: white;

}

  .nav-item{
    list-style: none;
    margin-right: 40px;
  }

  .nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    
  }

  /* banner related styles */

.banner-title{
    width: 520px;
    font-size:4.87rem ;
    font-weight: ;
    color: white;

}

.banner-description{
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
}

.banner-btn{
    margin-top: 28px;
}

.btn-secondery{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-left: 14px;

}
.banner-img{
    width: 350px;
    height: 580px;
    margin-left: 500px;
}
.card-500{
    width: 193px;
    height: 98px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    margin-left: -120px;
    margin-top: 120px;
}
.card-500-title{
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(255, 255, 255);;
  margin-top: 10px;
  margin-left: 24px;
}
.card-500-description{
  font-size: 0.81rem;
  font-weight: 400;
  margin-top: -30px;
  margin-left: 24px;
}

.card-350{
  width: 206px;
  height: 96px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  margin-left: -480px;
  margin-top: 200px;
}
.ellipse{
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
  margin-left: 23px;
  margin-top: 25px;
}
.card-350-title{
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(250, 250, 249);
  margin-left: 10px;
}
.card-350-description{
  font-size: 1rem;
  font-weight: 400;
  margin-left: 10px;
  margin-top: -18px;
}

/* .hide{
  display:none;
} */

/* responsive style for small device (576px) */
@media screen and (max-width:576px) {
  .nav-bar{
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav-links{
    display: none;
  }
  .ham-burg{
    display:block;
    color: white;
  }
   .banner{
    flex-direction: column;
    margin-left: 20px;
   }
   .banner-title{
    width: 285px;
    height: 130px;
    font-size: 36px;
   }
   .banner-description{
    width:276px;
    height: 96px;
   }
   .banner-btn{
    display: flex;
   }
   #club{
    display: none;
   }
   .banner-img{
    margin-top: 47px;
    margin-left: 20px;
  }
  .card-500{
    width:146px;
    height: 75px;
    margin-top: -530px;
    margin-left: 210px;
  }
  .card-500-title{
    font-size: 2rem;
  }
  .card-500-description{
    font-size: 0.625rem;
    margin-top: px;
  }
  .card-350{
    width: 156px;
    height: 73px;
    margin-left: 28px;
    margin-top: 140px;
  }
  .ellipse{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 17px;
    margin-top: 20px;
  }
  .card-350-title{
    font-size: 1.133rem;
  }
  .card-350-description{
    font-size: 0.75rem;
    
  }
  

}