@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body{
    margin: 0 auto;
    background-color: black;
  }
  /* shared style */

.display-flex{
    display: flex;
}

#home{
    font-weight: 600;
    border-radius: 46px;
    color: white;
    background-color: #E6533C;
    padding: 10px 20px;

}

#shape{
    /* font-family: 'Miama', sans-serif; */
                
}
.btn-primary{
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: white;
    border: none;
}

.primary-text-color{
    color: rgba(255, 255, 255, 0.5);
}

  /* nav related styles */

  .nav-bar{
    justify-content: space-between;
    align-items: center;
  }

  .brand{
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
    color: #E6533C;
  }

.nav-links{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: white;

}

  .nav-item{
    list-style: none;
    margin-right: 40px;
  }

  .nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* banner related styles */
/* .banner{
    justify-content:space-evenly;
} */
.banner-title{
    width: 520px;
    font-size:4.87rem ;
    font-weight: ;
    color: white;

}

.banner-description{
    width: 520px;
    font-size: 1rem;
    font-weight: 400;
}

.banner-btn{
    margin-top: 28px;
}

.btn-secondery{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-left: 14px;

}
.banner-img{
    width: 350px;
    height: 580px;
    margin-left: 500px;
}
.card-500{
    width: 193px;
    height: 98px;
    
    color: white;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}