@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body{
    margin: 0 auto;
    background-color: black;
  }
  /* shared style */

.display-flex{
    display: flex;
}

#home{
    font-weight: 600;
    border-radius: 46px;
    color: white;
    background-color: #E6533C;
    padding: 10px 20px;

}

  /* nav related styles */

  .nav-bar{
    justify-content: space-between;
    align-items: center;
  }

  .brand{
    font-size: 2.25rem;
    font-weight: bolder;
    /* font-style: italic; */
    color: #E6533C;
  }

.nav-links{
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: white;
    
}

  .nav-item{
    list-style: none;
    margin-right: 40px;
  }

  .nav-bar{
    max-width: 1440px;
    margin: 0 auto;
  }
